.About {
    text-align: center;
}

.about-img {
    min-width: 280px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.about-paragraph {
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
    max-width: 600px;
    min-width: 280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

@media only screen and (min-width: 600px) {
    .about-paragragh {
        padding: 15px;
    }
}