body {
    margin: 15px;
}

.logo, .intro-image {
    width: auto;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    max-width: 200px;
}

.intro-image {
    margin-top: 30px;
    max-width: 800px;
}