body {
    margin: 15px;
}

.footer{
    display: flex;
    margin: 0px 80px 50px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-img{
    min-width: 280px;
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
}

.imageBox {
    position: relative;
    float: left;
  }
  
  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  .imageInn1 {
    display: none;
  }

  .imageBox1 .hoverImg1 {
    position: relative;
    display: block;
  }
  
.sore-eyes {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-weight: 100;
    color: #F73BB2;
}

a {
  text-decoration: none;
}

@media(hover: hover) and (pointer: fine) {
  .imageBox:hover .hoverImg {
    display: block;
  }

  .imageInn1 {
    display: block;
  }

  .imageBox1 {
    position: relative;
    float: left;
  }
  
  .imageBox1 .hoverImg1 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  .imageBox1:hover .hoverImg1 {
    display: block;
  }

  .sore-eyes {
    font-size: 45px;
  }

}
