nav {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.nav-link {
    padding-left: 20px;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}

.nav-link:hover {
    color: #F73BB2;
}

